*{
  scroll-behavior: smooth;
  }
.header-nav{
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5% -3%;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 9999;
  transition: 0.4s;
}

.header-nav .branding img{
  margin-top:7%;
  display: inline-block;
  width: 100px;
  transition: width 0.4s;
}

.branding{
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-right: auto;
}

.header-nav .branding .brand-name{
  color: #eeeeee;
  transition: font-size 0.4s;
}

.header-nav .nav-buttons{
  display: flex;
  gap: 0 18px;
  margin-right: 3%;
}
.ghost-btn{
  outline: 1px solid #29e762;
  background-color: #e72929;
}

.nav-btn{
  font-size: 1.1rem;
  color: #f3efef;
  transition: background-color 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 12px;
}

.nav-hackathon{
  font-size: 1.5rem;
  color: #eeeeee;
  transition: background-color 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 12px;
}

.nav-btn:hover{
  color: rgb(27, 27, 27);
  background-color: #e72929;
  transform: scale(1.1);
  box-shadow: 0 0 15px #29e762;
}

.hamburger{
  position: fixed;
  right:4%;
  top:30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
  z-index: 10000;
  transition: top 0.3s;
}

.line{
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #eeeeee;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-buttons-mobile{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  gap: 30px;
  height: 100vh;
  width: 60vw;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 9999;
  padding: 10% 5%;
  transition: right 0.5s ease;
}

.nav-buttons-mobile .nav-btn{
  width: 100%;
  text-align: center;
}

.hidden-nav{
  right: -65vw;
}

.close-1{
  transform: rotate(45deg) translateY(10px);
}

.close-2{
  opacity: 0;
  transform: translateX(-35px);
}

.close-3{
  transform: rotate(-45deg) translateY(-10px);
}



.top{
  position: fixed;
  right:3vw;
  bottom:3vw;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.329);
  color: #eeeeee;
  cursor: pointer;
  outline: 1px solid #29e762;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 10px #29e762;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transform: scale(0);
}
.top:active{
  background:red;
}
.show-top{
  transform: scale(1);
}
@media (max-width: 800px) {
  .theinevitable{
    scale: 0.6 !important;
  }
  .header-nav{
height:12vh;  }
  .header-nav .nav-buttons{
      display: none;
  }

  .hamburger{
      display: flex;
  }

  .hero img{
      width: 350px;
  }

  .event-cards{
      flex-direction: column;
  }

  .nav-btn:focus{
      color: white;
      background-color: #29e762;
      transform: scale(1.1);
      box-shadow: 0 0 15px #29e762;
  }
  .top{
    right:8vw;
    bottom:8vw;
  }
}